.Div{
    background-color: rgb(4, 4, 74);
    color: #fff;
    width: 30%;
    max-height: auto;
    height: 100vh;
}


.Div {
    width: 300px; 
    height: calc(100vh - 100px); 
    position: sticky; 
    top: 80px; 
    overflow-y: auto; 
    padding-right: 10px;
}


.Div::-webkit-scrollbar {
    width: 5px;
}
.Div::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

aside {
    flex: 1;                 
    display: flex;
    justify-content: center; 
}